fail_fast: false
repos:
  - hooks:
      - id: commitizen
        stages:
          - commit-msg
    repo: https://github.com/commitizen-tools/commitizen
    rev: v4.2.2
  - hooks:
      - id: gitleaks
    repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.0
  - hooks:
      - exclude_types:
          - javascript
          - json
        id: clang-format
    repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.7
  - hooks:
      - args:
          - --markdown-linebreak-ext=md
        id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - exclude: .vscode
        id: check-json
      - id: no-commit-to-branch
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
  - hooks:
      - id: yamlfmt
    repo: https://github.com/google/yamlfmt
    rev: v0.16.0
