name: Documentation
on:
  push:
    tags:
      - "*"
    branches: [main, master]
permissions:
  contents: read
jobs:
  build:
    name: Build and publish documentation
    permissions:
      contents: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit
          disable-telemetry: true
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update
      - name: Setup Cpp
        uses: aminya/setup-cpp@290824452986e378826155f3379d31bce8753d76 # v0.37.0
        with:
          clangtidy: true
      - uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
      - name: Install Docs
        run: |
          sudo apt-get install doxygen
          pip install -r requirements.txt  --require-hashes
      - name: configure
        run: |
          cmake -H. -Bbuild -G "Unix Makefiles" -DCMAKE_BUILD_TYPE="Debug"
      - name: building
        run: |
          cmake --build build --config Debug --target doc_doxygen -j4
      - name: Deploy to GitHub Pages
        uses: Cecilapp/GitHub-Pages-deploy@526a34f794dfdf7edd6a4ac94321b1e7945910c0 # v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          build_dir: ./build/docs/doc_doxygen/html
